{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <title>Home</title> 
</head>
<body>

  <!----------{% static 'img/nombre_imagen.jpg/png/web' %]----------->
<!------En caso de no les llame el estilo, cierran server, eliminan cache, vuelven a correr server, yera----->  
    
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">InnovateNow</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if navbar %}
              {% for nav in navbar %}    
              <li class="nav-item">
                  <a class="nav-link" href="{{nav.url_nav}}">{{nav.nombre_nav}}</a>
              </li>
              {% endfor %}
          {% endif %}
          </ul>
        </div>
      </div>
    </nav>

  
  <!-- Mensaje principal -->
   <div class="container col-lg-12 col-md-12 col-sm-12" style="background-image: url(https://www.sade.cl/img/slide1.jpg);">
    <div class="container">
      <div class="row">  
          <h1 class="my-5" style="font-size: 500%; text-shadow: -3px -3px 0 white; color: black;">El capital es lo necesario para resolver los mayores 
          problemas del mundo a traves de startups
          </h1>''
      </div>
    </div>
   </div>
  

  <!-- Container -->
   <div class="col-lg-12 col-md-12 col-sm-12" style="background-color: #f0f0f0;" >
    <div class="container "  >
      <div class="row">
        <!-- imagen -->
        <div class="col-md-7 col-lg-7  col-sm-12 my-3">
          <img src="https://img.freepik.com/foto-gratis/hombre-negocios-dueno-empresa-oficina_1303-16046.jpg?size=626&ext=jpg&ga=GA1.1.672697106.1717804800&semt=ais_user" alt="Home" height="450" width="650">
        </div>
        <!-- Texto -->
        <div class="col-md-5 col-lg-5 col-sm-12" >
          
          
          <h1 class="mt-5">Un poco de nosotros</h1>
          
          <p class="mt-1 mb-3" ><b>En InnovateNow, impulsamos el crecimiento </b>de
                    empresas sostenibles e impactantes al ayudar con capital para los
                    emprendedores en etapa inicial que estan creando soluciones para
                    desafios sociales, economicos y ambientales en todo el mundo.
          </p>
        </div>
      </div>
    </div>
   </div>
  <!-- Container -->
  <div class="col-lg-12 col-md-12 col-sm-12" style="background-color: beige;" >
    <div class="container " >
      <div class="row">
        <!-- Texto -->
        <div class="col-md-6 col-lg-6 col-sm-12">
          <h1 class="mt-5">Como trabajamos</h1>
  
          <p class="mt-1 mb-3"> <b>Apoyamos a empresas emergentes en sus etapas iniciales </b>
            en áreas temáticas de sectores emergentes, entre ellas: innovación y adaptación climática,
             movilidad económica y acceso equitativo a servicios esenciales.
          </p>
  
          <p class="mt-1 mb-3"> <b>Desbloqueamos capital : </b>
            además de nuestros programas de aceleración de la preparación para la inversión, 
            invertimos capital, directa e indirectamente, en innovación.
          </p>
  
          <p class="mt-1 mb-3"> <b>Reimaginamos los sistemas </b>
            de apoyo a las empresas emergentes de impacto.
          </p>
  
        </div>
        <!-- imagen -->
        <div class="col-md-6 col-lg-6 col-sm-12 my-3 ">
          <img src="https://images.ctfassets.net/464qoxm6a7qi/67j1AmU5niS4P44bEnvgbN/c86502381f14c47675da9f8f788c6a0c/L2.jpg" alt="Home" height="450" width="650">
        </div>
      </div>
    </div>
  </div>
  
  <!-- CARDS -->
  <div class="col-lg-12 col-md-12 col-sm-12" style="background-color: #00354E;color: white;" >
    <div class="container">
      <div class="row"> 

        <div class="col-lg-12 col-md-12 col-sm-12 my-3">
         <center>
           <h1>Como participar</h1>
         </center>
        </div>
       
       <div class="col-lg-4 col-md-6 col-sm-12">
 
         <img src="https://images.ctfassets.net/464qoxm6a7qi/33DwM7EkPScerLDl8ksRva/d1eee06ef6301c7e21635856ddae1f4c/Icon_Accelerator_Graph_White.png" alt="1" height="83.75" width="100">
 
         <h4>Aprende más sobre nuestros programas</h4>
 
         <p>Hemos dirigido más de 150 aceleradoras. Brindamos a los fundadores herramientas 
           únicas para aumentar su eficiencia, sostenibilidad, impacto e inclusión.</p>
       </div>
 
       <div class="col-lg-4 col-md-6 col-sm-12">
 
         <img src="https://images.ctfassets.net/464qoxm6a7qi/1ZMlNS4FtGPzmrjPceulLI/9bf3134ae95af251cde672f45e4e42ae/Icon_Best_in_Class_White.png" alt="1" height="83.75" width="100">
 
         <h4>Conozca a nuestros exalumnos</h4>
 
         <p>Hemos apoyado a más de 1400 empresas emergentes en todo el mundo. 
           El 90 % están ubicadas en Santiago, Valparaiso y Arica; 
           el 45 % están dirigidas por mujeres. Hemos ayudado a más de 20 000 
           emprendedores a mejorar su preparación para la inversión a través de 
           nuestra red de organizaciones de apoyo a emprendedores.
         </p>
       </div>
 
       <div class="col-lg-4 col-md-6 col-sm-12">
 
         <img src="https://images.ctfassets.net/464qoxm6a7qi/I17hc6Yqbs51D0HF7C2Ot/9ea6fa7fe56012baeca5923201ed87ce/Icon_Talking_White.png" alt="1" height="83.75" width="100">
 
         <h4>Ser mentor de nuestros fundadores</h4>
 
         <p>Únase a nuestra red en crecimiento de más de 10,000 mentores y 1,400 
           emprendedores en todo Chile.
         </p>
       </div>
 
       <div class="col-lg-4 col-md-6 col-sm-12">
 
         <img src="https://images.ctfassets.net/464qoxm6a7qi/3K0CSToafJoAdRGwGmcHpO/1c089749d5dab47b9fcf44082ef1641e/Icon_Entrepreneur_White.png" alt="1" height="83.75" width="100">
 
         <h4>Apoye nuestro trabajo
         </h4>
 
         <p>Somos una organización sin fines de lucro y nuestros socios nos 
           ayudan a apoyar a los emprendedores y reinventar el sistema.
         </p>
       </div>
 
       <div class="col-lg-4 col-md-6 col-sm-12">
 
         <img src="https://images.ctfassets.net/464qoxm6a7qi/5H21e9tr9uNyVugXMr5EpB/a89a001a2ce6299f06c26ff5cfea1327/Icon_Book_White.png" alt="1" height="83.75" width="100">
 
         <h4>Nuestros resultados y perspectivas
         </h4>
 
         <p>Nuestro objetivo es estar a la vanguardia de la innovación abordando 
           grandes problemas globales, al mismo tiempo que reinventamos y 
           desafiamos nuestros sistemas e impulsamos una innovación más inclusiva.
         </p>
       </div>
 
       <div class="col-lg-4 col-md-6 col-sm-12">
 
         <img src="https://images.ctfassets.net/464qoxm6a7qi/49QHwPQQxLWugLNCqeZaoK/ef175b77c9514cc3ce1119f791f9b42f/Icon_World_White.png" alt="1" height="83.75" width="100">
 
         <h4>Conozca a nuestro equipo
         </h4>
 
         <p>Somos un equipo descentralizado pero coordinado a nivel mundial. 
           Contamos con equipos regionales que cubren seis partes del mundo.
         </p>
       </div>
     </div>
    </div>
  </div>





  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>