<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="estilos.css">
    <title>QuienesSomos</title>
</head>
<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">InnovateNow</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if navbar %}
            {% for nav in navbar %}    
            <li class="nav-item">
                <a class="nav-link" href="{{nav.url_nav}}">{{nav.nombre_nav}}</a>
            </li>
            {% endfor %}
        {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="borde">
      <div class="row">
          <div class="col-md-12">
              <h2>Quienes somos </h2>
              <hr>
              <p>Somos una aceleradora de servicios dedicada a impulsar el crecimiento y la transformación de empresas emergentes.</p>

              <p>Nuestro enfoque se centra en proporcionar a las startups y a los emprendedores las herramientas, recursos y mentoría necesarios para llevar sus ideas al siguiente nivel.</p>
              
              <p>Profesionales y personal calificado con vasta experiencia en el diseño, gestión y construcción de viviendas 
              unifamiliares en madera, ponemos a disposición de nuestros clientes la oportunidad de vivir la experiencia de consolidar 
              y ver realizado el sueño de la casa propia.</p>
              
              <p>Contamos con un equipo de expertos en diversas áreas, desde marketing y tecnología hasta finanzas y estrategia empresarial, comprometidos en guiar a nuestros clientes hacia el éxito.</p>
              
              <p>Nos apasiona fomentar la innovación y el emprendimiento, creando un ecosistema donde las empresas pueden florecer y alcanzar su máximo potencial</p>
              
          </div>
      </div>
    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>