<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Servicios</title>
</head>
<body>
    
<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">InnovateNow</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      {% if navbar %}
          {% for nav in navbar %}    
          <li class="nav-item">
              <a class="nav-link" href="{{nav.url_nav}}">{{nav.nombre_nav}}</a>
          </li>
          {% endfor %}
      {% endif %}
      </ul>
    </div>
  </div>
</nav>

  <!-- Mensaje principal -->
  
    <div class="container">
      <div class="row">  
          <h1 class="my-5" style="font-size: 500%">Servicios actuales</h1>
      </div>
    </div>

  <!-- cards -->
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3">

      <div class="col mb-4">
        <div class="card bg-transparent border h-100 ">
          <img src="https://images.ctfassets.net/464qoxm6a7qi/1QHRpIDyzSA7lmjwXljxBq/cab7a29b365434255d4a4a98e54440c3/Icon_Tractor.png?w=1920&q=75" >
          <div class="card-body">
            <h6 class="card-title">Región: Bio bio</h6>
            <h6>Área temática: Innovación y adaptación climática</h6>
            <hr>
            <h5>Descripcion</h5>
            <p>Este programa, con el apoyo de Corfo - la Corporación de Fomento 
              de la Producción de Chile, es una iniciativa transformadora para el 
              fortalecimiento del ecosistema en Chile, dirigida a fortalecer la 
              capacidad y el impacto de las Organizaciones de Apoyo al Emprendimiento 
              (OAE) y a las startups en etapas iniciales enfocadas en el clima.<hr></p>
            <button type="button" class="btn btn-primary">Seleccionar</button>
            <button type="button" class="btn btn-info">Más información</button>
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card bg-transparent border h-100 ">
          <img src="https://images.ctfassets.net/464qoxm6a7qi/5BNAmpUcggXYydIdAevXx9/750ab452ea1fdad0210a0a44157e77bd/Icon_Stethoscope.png?w=1920&q=75" >
          <div class="card-body">
            <h6 class="card-title">Region: Arica</h6>
            <h6>Área temática: Innovación y adaptación climática</h6>
            <hr>
            <h5>Descripcion</h5>
            <p>LIFT: Acelerando la Innovación en Salud Equitativa trabajará con diez 
              startups en Chile para apoyar iniciativas enfocadas en crear soluciones 
              no médicas que aborden las disparidades en los determinantes sociales de 
              la salud, como los factores Económicos, Sociales y Ambientales, para 
              comunidades históricamente marginadas. Esto incluye a, 
              personas de comunidades indígenas, afrodescendientes, LGBTQ+, de bajos 
              ingresos, con discapacidades o de zonas rurales.<hr></p>
            <button type="button" class="btn btn-primary">Seleccionar</button>
            <button type="button" class="btn btn-info">Más información</button>
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card bg-transparent border h-100">
          <img src="https://images.ctfassets.net/464qoxm6a7qi/1QHRpIDyzSA7lmjwXljxBq/cab7a29b365434255d4a4a98e54440c3/Icon_Tractor.png?w=1920&q=75" >
          <div class="card-body">
            <h6 class="card-title">Region: Metropolitana</h6>
            <h6>Área temática: Acceso Equitativo a Servicios Esenciales</h6>
            <hr>
            <h5>Descripcion</h5>
            <p>Este programa, apoyado por la Fundación Posner, trabajará con 
              emprendedores en Chile para aumentar la seguridad alimentaria y 
              la resiliencia, apoyando a startups enfocadas en empoderar a los 
              consumidores, mejorar los procesos en los centros de alimentos y 
              reducir el riesgo de pérdidas en la producción.<hr></p>
            <button type="button" class="btn btn-primary">Seleccionar</button>
            <button type="button" class="btn btn-info">Más información</button>
          </div>
        </div>
      </div>
        
      <div class="col mb-4">
        <div class="card bg-transparent border h-100">
          <img src="https://images.ctfassets.net/464qoxm6a7qi/1QHRpIDyzSA7lmjwXljxBq/cab7a29b365434255d4a4a98e54440c3/Icon_Tractor.png?w=1920&q=75" >
          <div class="card-body">
            <h6 class="card-title">Region: Valparaiso</h6>
            <h6>Área temática: Innovación y adaptación climática</h6>
            <hr>
            <h5>Descripcion</h5>
            <p>Dream Climate Tech Launchpad apoyará startups de tecnología 
              climática lideradas por emprendedores de comunidades indígenas 
              en la Región del Maule. En especial, aquellas que 
              desarrollen soluciones en los sectores de Entorno Construido, 
              Transporte e Infraestructura Eléctrica, Sistemas Alimentarios, 
              Economía Circular y Tecnología de Carbono.<hr></p>
            <button type="button" class="btn btn-primary">Seleccionar</button>
            <button type="button" class="btn btn-info">Más información</button>
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card bg-transparent border h-100">
          <img src="https://images.ctfassets.net/464qoxm6a7qi/1QHRpIDyzSA7lmjwXljxBq/cab7a29b365434255d4a4a98e54440c3/Icon_Tractor.png?w=1920&q=75" >
          <div class="card-body">
            <h6 class="card-title">Region: Maule</h6>
            <h6>Área temática: Innovación y adaptación climática</h6>
            <hr>
            <h5>Descripcion</h5>
            <p>Este programa, respaldado por el gobierno, es un programa acelerador de 
              la preparación para la inversión que apoyará a las empresas emergentes 
              con soluciones innovadoras para acelerar el desarrollo sostenible. 
              El programa apoyará soluciones innovadoras y sostenibles, 
              contribuyendo activamente a generar resiliencia y mitigar los efectos 
              del cambio climático.<hr></p>
            <button type="button" class="btn btn-primary">Seleccionar</button>
            <button type="button" class="btn btn-info">Más información</button>
          </div>
        </div>
      </div>

      <div class="col mb-4">
        <div class="card bg-transparent border h-100">
          <img src="https://images.ctfassets.net/464qoxm6a7qi/5PJBCkyRiHSdiQWoARuvkV/06584bfc91d226813908d2fae02324b8/Icon_Resilience.png?w=1920&q=75" >
          <div class="card-body">
            <h6 class="card-title">Region: Metropolitana</h6>
            <h6>Área temática: Innovación y adaptación climática</h6>
            <hr>
            <h5>Descripcion</h5>
            <p>El nuevo programa, con el apoyo de la Fundación MetLife, 
              apoyará a los fundadores subrepresentados y que crean impacto 
              en torno a la resiliencia económica en la region Metropolitana y
              sus alrededores.<hr></p>
            <button type="button" class="btn btn-primary">Seleccionar</button>
            <button type="button" class="btn btn-info">Más información</button>
          </div>
        </div>
      </div>


  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
</body>
</html>